.Catamaran {
    font-family: 'Catamaran', sans-serif;
    /* text-decoration: none; */
}

.jumbotron {
    background: url('../Images/banner-2.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 12%;
    padding-bottom: 12%;
}

nav {
    position: absolute;
    top: 150px;
}

main {
    font-family: 'Roboto', sans-serif;
}

main.container {
    padding-top: 30px;
}

.callouts {
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
}

a:hover {
    text-decoration: none;
}

img {
    /* border: thin lightgray solid */
}

.linkedin {
    color: #9e9e9e;
    -webkit-transition: color 750ms;
    -moz-transition: color 750ms;
    -ms-transition: color 750ms;
    -o-transition: color 750ms;
    transition: color 750ms;
}

.linkedin:hover {
    color: #2867B2;
}

.facebook {
    color: #9e9e9e;
    -webkit-transition: color 750ms;
    -moz-transition: color 750ms;
    -ms-transition: color 750ms;
    -o-transition: color 750ms;
    transition: color 750ms;
}

.facebook:hover {
    color: #4267B2;
}

.instagram {
    color: #9e9e9e;
    -webkit-transition: color 750ms;
    -moz-transition: color 750ms;
    -ms-transition: color 750ms;
    -o-transition: color 750ms;
    transition: color 750ms;
}

.instagram:hover {
    color: #d6249f;
}

.twitter {
    color: #9e9e9e;
    -webkit-transition: color 750ms;
    -moz-transition: color 750ms;
    -ms-transition: color 750ms;
    -o-transition: color 750ms;
    transition: color 750ms;
}

.twitter:hover {
    color: #1DA1F2;
}

.github {
    color: #9e9e9e;
    -webkit-transition: color 750ms;
    -moz-transition: color 750ms;
    -ms-transition: color 750ms;
    -o-transition: color 750ms;
    transition: color 750ms;
}

.github:hover {
    color: #333;
}


/* fixing side scrollbar page jump glitch... each page will have scrollbar for uniformity */

html {
    min-height: 960px;
}

.poFoImg {
    border: thin lightgrey solid;
    margin-bottom: 20px;
}

.poFoLinks {
    font-size: 10pt;
    font-weight: 510;
    color: #343A40;
    /* background-color: #09A7D8; */
    padding: 15px;
    /* border: thin rgb(228, 228, 228) solid; */
    /* border-radius: 5px; */
    margin: 30px;
}

.poFoLinks:hover {
    text-decoration: underline;
    color: black;
}

.noShow {
    display: none;
}